* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html body {
  height: 100%;
  width: 100%;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
  padding: 0 2.5vw;
}

nav {
  padding: 1vw 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 160px;
  border-radius: 50%;
}

#nav-part1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part1 h4 {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.282);
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  color: rgba(40, 41, 42, 0.954);
  font-size: 15px;
  position: relative;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

#nav-part1 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

#nav-part1 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part1 h4 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.823);
  z-index: 9;
  position: relative;
}

#nav-part1 h4:hover a {
  color: white;
}

#center {
  height: 65vh;
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.282);
  padding-bottom: 2.5vw;
}

#left h2 {
  width: 30vw;
  font-size: 3vw;
  color: rgba(37, 75, 90, 0.807);
  line-height: 6vw;
}

#left h1 {
  width: 50vw;
  font-size: 5vw;
  line-height: 6vw;
}

#left h3 {
  width: 30vw;
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.635);
  line-height: 3vw;
}

#right h1 {
  font-size: 8vw;
  line-height: 7vw;
  text-align: right;
}

#page1 #img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#page1 #img img {
  width: 45%;
  border-radius: 30px;
  margin-top: 4vw;
  position: relative;
}

#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 70vh;
}

#hero-1 {
  height: 100%;
  width: 100%;
  background-color: rgba(135, 207, 235, 0.88);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(100px);
  position: absolute;
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#hero-2 {
  height: 30vw;
  width: 30vw;
  background: linear-gradient(skyblue, lightblue);
  border-radius: 50%;
  filter: blur(100px);
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#hero-3 {
  height: 30vw;
  width: 30vw;
  background: linear-gradient(skyblue, lightblue);
  border-radius: 50%;
  filter: blur(100px);
  position: absolute;
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 20%);
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  padding: 3vw 0vw;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1{
    font-size: 4vw;
    display: inline-block;
}

#gola{
    height: 30px;
    width: 30px;
    background-color: rgba(135, 207, 235, 0.88);
    border-radius: 50%;
    display: inline-block;
    margin: 0.25vw 1.5vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}